<div class="access">
    <div class="form-signin">
        <div class="form-signin-heading text-center">
            <a href="/">
                <img class="sign-in-logo" src="/assets/img/whatsdue-logo-login.png" alt="WhatsDue Login Logo">
            </a>
        </div>
        <div class="login-wrap">
            {{yield}}
        </div>
    </div>
</div>

