<div class="modal in fade" id="Modal" role="dialog" >
    <div class="modal-dialog {{{class}}} {{{type}}}">
        <div class="modal-content">
            {{yield}}
        </div>
    </div>
</div>
<div class="modal-backdrop fade in"></div>