<section class="panel course-bar">
    <header class="panel-heading">
        <span>
            My Classes
        </span>
        <button class="btn btn-primary" {{action 'modal' 'secure.new-course' }} id="addCourse">
            Add Class
        </button>
    </header>
    <div class="panel-body no-select" id="course-list">
        <ul>
            {{#each courses as |course|}}
                {{#unless course.archived}}
                    <li>
                        {{#link-to 'secure.course' course class="pointer"}}
                            {{course.course_name}}
                        {{/link-to}}
                    </li>
                {{/unless}}
            {{/each}}
            {{log courses}}
        </ul>
    </div>
    <div class="panel-footer">
    </div>
</section>
