<div class="col-sm-3 sidebar">
    <section class="panel">
        <header class="panel-heading">
            My Courses
            <button class="btn btn-primary" {{action 'modal' 'dashboard.newCourse' }} id="addCourse">
                Add Course
            </button>
        </header>
        <div class="panel-body no-select" id="course-list">
            {{#sortable-group tagName="ul" onChange="reorderItems" as |group|}}
                {{#each course in courses}}
                    {{#unless course.archived}}
                        {{#sortable-item tagName="li" model=course group=group handle=".handle"}}
                            {{#link-to 'dashboard.courses.course' course tag="span" class="pointer"}}
                                {{course.course_name}}
                            {{/link-to}}
                            <i class="pull-right fa fa-sor handle"></i>
                        {{/sortable-item}}
                    {{/unless}}
                {{/each}}
            {{/sortable-group}}
        </div>
        <div class="panel-footer">
        </div>
    </section>
</div>