<section class="panel course-bar">
    <header class="panel-heading">
        My Courses
        <button class="btn btn-primary" {{action 'modal' 'courses.new' }} id="addCourse">
            Add Course
        </button>
    </header>
    <div class="panel-body no-select" id="course-list">
        <ul>
            {{#each courses as |course|}}
                {{#unless course.archived}}
                    <li>
                        {{#link-to 'courses.course' course tag="li" class="pointer"}}
                            {{course.course_name}}
                        {{/link-to}}
                    </li>
                {{/unless}}
            {{/each}}
        </ul>
    </div>
    <div class="panel-footer">
    </div>
</section>
