<div class="col-sm-3 sidebar">
    <section class="panel">
        <header class="panel-heading">
            Spread the word
        </header>
        <div class="panel-body" id="course-list">
            {{user.id}}
        </div>
    </section>
</div>