<section class="panel referral">
    <header class="panel-heading">
        <span>
            Spread the word
        </span>
    </header>
    <div class="panel-body">
        {{social-buttons id=id}}
    </div>
    <div class="panel-footer">
        <pre>http://admin.whatsdueapp.com/referral/{{id}}</pre>
    </div>
</section>
