<section class="panel">
    <header class="panel-heading">
        Spread the word
    </header>
    <div class="panel-body">
        <small>https://admin.whatsdueapp.com/referral/{{id}}

        </small>
    </div>
    <div class="panel-footer">
    </div>
</section>
