<div class="row">
    <div class="col-sm-8 time-picker">
            {{#if timepickerEnabled}}
                {{input value=display_time id="timepicker" class="form-control" disabled=disabled}}
            {{else}}
                <button {{action 'toggleTime'}} class="form-control">
                    Time (optional)
                </button>
            {{/if}}
    </div>
    <div class="col-sm-3 picker-button">
        {{switchery-checkbox checked=timepickerEnabled}}
    </div>
</div>
