.zopim{
  display: none;
}

@menuWidth: 80%;
@transitionTime: 0.2s;
@transitionType: ease;
.sidebar{
  position: absolute;
  width:@menuWidth;
  left: -@menuWidth;
  height:100%;
  top: 0;
  background-color: white;
  padding: 0;
  box-shadow: -3px 3px 3px #ddd;
  .fa-sort{
    display: none;
  }
  .panel{
    border-radius: 0;
    height: 100%;
    .panel-heading{
      margin-top: 51px;
    }
    .panel-body{
      position: relative;
      height: auto;
    }
    .panel-footer{
      border: none;
      margin-top: auto;
      background: none;
    }
  }

}

#main{
  .header-section {
    -webkit-transition: all @transitionTime @transitionType;
    -moz-transition: all @transitionTime @transitionType;
    transition: all @transitionTime @transitionType;
  }
  .main-content{
    -webkit-transition: all @transitionTime @transitionType;
    -moz-transition: all @transitionTime @transitionType;
    transition: all @transitionTime @transitionType;
    width: 100%;
    position: absolute;
    left: @menuWidth;
    &.mobileMenuHidden{
      left: 0;
    }
    &.mobileMenuVisible{
      .header-section {
        //left: @menuWidth;
      }
    }
  }
  .courses{
    padding: 0;
  }
}