{{#tooltip-walkthrough}}
    <li class="addCourse" data-id="add-assignment" data-options="tip_location: right; prev_button: false; next_button: false">
        <h4>Add an assignment</h4>
    </li>
{{/tooltip-walkthrough}}