{{#tooltip-walkthrough}}
    <li data-id="course-list" data-text="Next" data-options="tip_location: left; prev_button: false">
        <h4>Choose a Course</h4>
        <p>One course appears in the dashboard at a time</p>
    </li>
    <li data-id="invite-users" data-button="Lets Go" data-prev-text="Prev" data-options="tip_location:right;tip_animation:fade">
        <h4>Invite Parents and Students</h4>
        <p>Just enter their email addresses an we will send them instructions</p>
    </li>
{{/tooltip-walkthrough}}