{{#tooltip-walkthrough}}

    <li data-id="addCourse" data-text="Next" data-options="tip_location: left; prev_button: false">
        <h4>Add a Course</h4>
        <p>Just enter it's name</p>
    </li>
    <li data-id="invite-users" data-button="Got It" data-prev-text="Prev" data-options="tip_location:right;tip_animation:fade">
        <h4>Invite Parents and Students</h4>
        <p>Just enter their email addresses an we will send them instructions</p>
    </li>
{{/tooltip-walkthrough}}