{{#
    course/add-course
    course_name = course_name
    saved = "saved"
    title = "Add a Class"
    saveText = "Save and Add Assignment"
}}
    <p>
        Choose a name for your new class.
    </p>

{{/course/add-course}}