<div class="modal-header">
    <button type="button" {{action 'close'}} class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Invite Students and Parents</h4>
</div>
<div class="modal-body invite">
    <form action="#" class="form-horizontal ">
        <div class="form-group">
            <div class="col-sm-8">
                <p>
                   Want your parents and students to use WhatsDue?
                </p>
                <p>
                    Just enter their email addresses below.
                </p>
                <p>
                    We'll send out an email with instructions how to get started.
                </p>
            </div>
            <div class="col-sm-4 pull-right">
                <!--{textarea value=emailMessage class="form-control padded" placeholder="Message to your students"}}-->
                {{multiselect-checkboxes classNames="checkbox" options=classes selection=selectedClasses labelProperty="course_name"}}
            </div>
            <div class="col-sm-12">
                {{textarea value=emailAddresses class="form-control padded" placeholder="List of emails seperated by commas, spaces, or new lines"}}
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" {{action 'send'}} >Send Email</button>
</div>