{{#assignment/full/add-assignment
    course = model
    saved = 'goToInvite'
    completion = '70%'
    saveText="Save and Continue"
    class="welcome"
    walkthrough=true
}}
<p>
    Lets add your first task to {{model.course_name}}.
    All you have to do is set the title and the due date.
    You may want to write a message to your class welcoming them to the app.
</p>
{{/assignment/full/add-assignment}}