{{#
    course/add-course
    course_name = course_name
    saved = "saved"
    title = "Add Your First Class"
    saveText = "Next, Add an Assignment"
    completion = "40%"
    class="welcome"
    walkthrough=true
}}
    <h2>
        You're about to set up your first class.
    </h2>
    <p>
        First, you'll name the class, add some tasks, and then invite your students and/or parents to the app.
    </p>
{{/course/add-course}}