{{#bootstrap-modal class="welcome"}}
    <div class="modal-header">
        <button type="button" {{action 'close'}} class="close">×</button>
        <h4 class="modal-title">You're In!</h4>
    </div>
    <div class="modal-body">
        <p>
            That was easy, wasn't it?
        </p>
        <p>
            All you have to do next is add a class, add some assignments, and then invite your class.
        </p>
        <p>
            Soon your whole class will know exactly what's due and you can relax.
        </p>
    </div>
    <div class="modal-footer">
        {{progress-bar completion="10%"}}
        {{#link-to "secure.walkthrough.add-course" class="btn btn-primary"}}Next, Add a Course{{/link-to}}
    </div>
{{/bootstrap-modal}}