{{#access-screen}}
    <form  {{action 'login' on="enter"}}>
        {{input value=username              type="text" class="form-control" placeholder="Email or Username" autofocus="" id="username" required="required"}}
        {{input value=password              type="password" class="form-control" placeholder="Password" id="password"  required="required"}}
        <div class="row">
            <div class="col-md-6">
                <button  {{action 'login'}} class="btn btn-lg btn-login btn-block" type="submit">
                    Log In
                </button>
            </div>
            <div class="col-md-6">
                {{#link-to "access.register" class="btn btn-lg btn-login btn-block btn-info"}}
                    Sign Up
                {{/link-to}}
            </div>
            <div class="col-md-12 center">
                <a href="/resetting/request">
                    Reset your password
                </a>
            </div>
        </div>
    </form>
{{/access-screen}}