.invite{
  width: 800px;
  max-width: 800px!important;
  .form-group{
    .section{
      height: 180px;
      margin-top: 10px;
      overflow-y: scroll;
    }
    strong{
      font-size: 1.1em;
    }
  }
}