<div class="row">
    <div class="col-sm-4 col-md-3">
        <!-- page heading start-->
        <div class="sidebar panel panel-default">

            <div class="panel-heading">
                <h3 class="panel-title">
                    <a {{action 'modal' 'courses.new' }}>
                        Add Course
                    </a>
                </h3>
            </div>
            <div class="panel-body">
               <ul class="draggable">
                    {{#each course in model}}
                        {{#unless course.archived}}
                            {{scroll-to course.id course.course_name}}
                        {{/unless}}
                    {{/each}}
               </ul>
            </div>
        </div>
        <!-- page heading end-->

    </div>
    <div class="col-sm-8 col-md-9">
        <ul class="courses">

        {{#each course in model}}
            {{#unless course.archived}}
                {{course-panes course=course modal="modal"}}
            {{/unless}}
        {{/each}}
        </ul>
    </div>
</div>

