<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">Welcome to WhatsDue</h4>
</div>

<div class="modal-body">

    <p>Welcome to WhatsDue!</p>
    <p>
        We know you want to see your students succeed so we built WhatsDue to help you do that.
    </p>
    <p>
        Here’s how you can make the most of the app:
    </p>
    <ol>
        <li>
            Add the courses you teach
        </li>
        <li>
            Add as many upcoming assignments as you can. The more you add, the more your students and/or parents will know in advance.
        </li>
        <li>
            Invite students and/or parents to use WhatsDue. Just hit the “Invite” button and enter the email addresses of everyone you think should know what assignments are coming up. The email will contain the course code that the students and/or parents will need in order to join the class.
        </li>
    </ol>
   <p>
       Also, every time you add, update, or delete an assignment, everyone who joined your class will get a push notification. Keep this in mind before you make changes.   </p>
    <p>
        If you need any help at any time, just head to the top right or bottom right corner to get in touch with Aaron.
    </p>
    <p>
        Thanks again for using WhatsDue!
    </p>
</div>

<div class="modal-footer">
    <button  data-dismiss="modal" class="btn btn-primary" type="button" {{action 'addCourse'}} >Add a Course</button>
</div>